<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>lftgpas</string>
		<string>dgis</string>
		<string>nmap</string>
		<string>gett</string>
		<string>osmandmaps</string>
		<string>mapsme</string>
		<string>szn-mapy</string>
		<string>kakaomap</string>
		<string>yandexmaps</string>
		<string>yandextaxi</string>
		<string>moovit</string>
		<string>yandexnavi</string>
		<string>waze</string>
		<string>truckmap</string>
		<string>transit</string>
		<string>lyft</string>
		<string>uber</string>
		<string>citymapper</string>
		<string>comgooglemaps-x-callback</string>
		<string>comgooglemapsurl</string>
		<string>comgooglemaps</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Waataxi Driver</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>WAATAXI n'accèdera pas à votre caméra sans que vous ne l'autorisez. Les informations recueillies sont gardées confidentielles dans nos base de données.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>les informations de localisation sont récupérés afin de pouvoir permettre à notre application de vous faciliter vos courses. WAA TAXI ne sauvegarde pas les données de localisation de ses utilisateurs. WAA TAXI demandera la permission à l'utilisateur avant de pouvoir récuperer sa position géographique</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>les informations de localisation sont récupérés afin de pouvoir permettre à notre application de vous faciliter vos courses. WAA TAXI ne sauvegarde pas les données de localisation de ses utilisateurs. WAA TAXI demandera la permission à l'utilisateur avant de pouvoir récuperer sa position géographique</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Les informations recueillies sont sauvegardées dans la base de données de WAATAXI. Ces données sont uniquement utilisées à des fins de vérification.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Zocial.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>AntDesign.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>PatrickHand-Regular.ttf</string>
		<string>IndieFlower-Regular.ttf</string>
		<string>IbarraRealNova-VariableFont_wght.ttf</string>
		<string>Rajdhani-Bold.ttf</string>
		<string>Rajdhani-Light.ttf</string>
		<string>Rajdhani-Medium.ttf</string>
		<string>Rajdhani-Regular.ttf</string>
		<string>Rajdhani-SemiBold.ttf</string>
		<string>Raleway-VariableFont_wght.ttf</string>
		<string>ShadowsIntoLight-Regular.ttf</string>
		<string>YanoneKaffeesatz-Bold.ttf</string>
		<string>YanoneKaffeesatz-ExtraLight.ttf</string>
		<string>YanoneKaffeesatz-Light.ttf</string>
		<string>YanoneKaffeesatz-Medium.ttf</string>
		<string>YanoneKaffeesatz-Regular.ttf</string>
		<string>YanoneKaffeesatz-SemiBold.ttf</string>
		<string>YanoneKaffeesatz-VariableFont_wght.ttf</string>
		<string>Itim-Regular.ttf</string>
		<string>MontserratAlternates-Black.ttf</string>
		<string>MontserratAlternates-BlackItalic.ttf</string>
		<string>MontserratAlternates-Bold.ttf</string>
		<string>MontserratAlternates-BoldItalic.ttf</string>
		<string>MontserratAlternates-ExtraBold.ttf</string>
		<string>MontserratAlternates-ExtraBoldItalic.ttf</string>
		<string>MontserratAlternates-ExtraLight.ttf</string>
		<string>MontserratAlternates-ExtraLightItalic.ttf</string>
		<string>MontserratAlternates-Italic.ttf</string>
		<string>MontserratAlternates-Light.ttf</string>
		<string>MontserratAlternates-LightItalic.ttf</string>
		<string>MontserratAlternates-Medium.ttf</string>
		<string>MontserratAlternates-MediumItalic.ttf</string>
		<string>MontserratAlternates-Regular.ttf</string>
		<string>MontserratAlternates-SemiBold.ttf</string>
		<string>MontserratAlternates-SemiBoldItalic.ttf</string>
		<string>MontserratAlternates-Thin.ttf</string>
		<string>MontserratAlternates-ThinItalic.ttf</string>
		<string>YatraOne-Regular.ttf</string>
		<string>times-new-roman.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
